<!DOCTYPE html>
<html>
	<head>
		<script src="<%= `${props.ioServer.host}${props.ioServer.urlPath}` %>"></script>
		<script>
			const socket = io("<%= `${props.ioServer.host}` %>");

			socket.on("connect", () => {
  				console.log(socket.id); // x8WIv7-mJelg7on_ALbx
			});

			socket.on("healthEvent", (props) => {
				console.log(props);
				document.getElementById('health-checks-text-area').value = JSON.stringify(props);
			});

			socket.on("disconnect", () => {
  				console.log(socket.id); // undefined
			});

						
		</script>
	</head>
	<body>
		<div id='main-container'>
			<div id='health-checks'>
				<textarea id='health-checks-text-area'></textarea>
			</div>
		</div>
	</body>
</html>
